### Final Exam Code Template ###
__This template will guide you to complete the final exam. Grading rubrics are also provided.__

__Please follow the guidelines closely when you type in your own code and test your program.__

__Before working on your own code, save the template as "Final_firstname_lastname" so you don't change the original file and can refer to the template when necessary.__

__The number of arguments mentioned below doesn't count "self".__

In [1]:
#define your own Vehicle class here
#the order of the four required positional arguments should be: make,model,year,mileage
#please use the conventional way to define function names and refer to the following test to adjust function names 
#no need to handle exceptions here

class Vehicle:

    def __init__(self, vmk, vmd, vyr, vmil):
        self.__make = vmk
        self.__model = vmd
        self.__year = vyr
        self.__mileage = vmil
        
    def get_make(self):
        return self.__make
    
    def get_model(self):
        return self.__model
    
    def get_year(self):
        return self.__year
    
    def get_mileage(self):
        return self.__mileage
    
    def set_make(self, vmk):
        self.__make = vmk
    
    def set_model(self, vmd):
        self.__model = vmd
        
    def set_year(self, vyr):
        self.__year = vyr
        
    def set_mileage(self, vmil):
        self.__mileage = vmil
        
    def __str__(self):
        return "Make: " + self.__make + "; Model: " + self.__model + "; Year of Manufacture: " + str(self.__year) + "; Mileage: " + str(self.__mileage)

In [2]:
#do a quick test on the Vehicle class before moving forward (5 points)
#don't change this code
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [3]:
#define your own Employee class here
#the order of the three required positional arguments should be: name,address,vehicle object
#please use the conventional way to define function names and refer to the following test to adjust function names
#use emp for short of employee in naming attributes and functions
#no need to handle exceptions here

class Employee:

    def __init__(self, nm, addr, veh):
        self.__emp_name = nm
        self.__emp_addr = addr
        self.__vehicle = veh
        
    def get_emp_name(self):
        return self.__emp_name
    
    def get_emp_addr(self):
        return self.__emp_addr
    
    def get_vehicle(self):
        return self.__vehicle
    
    def set_emp_name(self, nm):
        self.__emp_name = nm
        
    def set_emp_addr(self, addr):
        self.__emp_addr = addr
        
    def set_vehicle(self, veh):
        self.__vehicle = veh
        
    def compute_compensation(self):
        pass
    
    def __str__(self):
        allData = "\nEmployee Name: " + str(self.__emp_name)
        allData += "; Employee Address: " + str(self.__emp_addr)
        allData += "\n" + self.__vehicle.__str__()
        return allData

In [4]:
#do a quick test on the Employee class before moving forward (5 points)
#don't change this code
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [5]:
#define your own Full Time Employee class here
#Full Time Employee class inherits from Employee class
#the order of the four required positional arguments should be: name,address,vehicle object,salary
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

class FullTimeEmployee(Employee):

    def __init__(self, nm, addr, veh, sal):
        Employee.__init__(self, nm, addr, veh)
        self.__salary = sal
        
    def get_salary(self):
        return self.__salary
    
    def set_salary(self, sal):
        self.__salary = sal
        
    def compute_compensation(self):
        if self.__salary <= 25000:
            annual_compensation = self.__salary * (1 - 0.18)
        elif self.__salary > 25000 and self.__salary <= 55000:
            annual_compensation = (self.__salary - ((0.18*25000) + (self.__salary - 25000)*0.28))
        else:
            annual_compensation = (self.__salary - ((0.18*25000) + (55000 - 25000)*0.28 + (self.__salary - 55000)*0.33))
        return (annual_compensation/52)
    
    def compute_reimbursement(self, annual_expense):
        if annual_expense <= 10000:
            total_reimbursement = annual_expense
        elif annual_expense > 10000:
            total_reimbursement = 10000 + (annual_expense - 10000)*0.50
        weekly_reimbursement = total_reimbursement/52
        
        return weekly_reimbursement
       
    def __str__(self):
        
        childData = super().__str__()
        childData = "\nDetails of this Full Time Employee are:" + childData
        childData += "\nSalary: " + '{0:0.2f}'.format(float(self.__salary))
        return childData

In [6]:
#do a quick test on the Full Time Employee class before moving forward (5 points)
#don't change this code
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.
Amy has a weekly compensation of $601.92.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.

In [7]:
#define your own Hourly Employee class here
#Hourly Employee class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,hourly rate
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

class HourlyEmployee(Employee):

    def __init__(self, nm, addr, veh, hw, hr):
        super().__init__(nm, addr, veh)
        self.__hours_wrkd = hw
        self.__hourly_rate = hr
        
    def get_hours_worked(self):
        return self.__hours_wrkd
    
    def get_hourly_rate(self):
        return self.__hourly_rate
    
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
        
    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr
        
    def compute_compensation(self):
        if self.__hours_wrkd > 40:
            return self.__hourly_rate * 40 + self.__hourly_rate * 1.8 * (self.__hours_wrkd - 40)
        else:
            return self.__hourly_rate * self.__hours_wrkd
        
    def compute_reimbursement(self, weekly_expense):
        if weekly_expense <= 100:
            weekly_reimbursement = weekly_expense
        elif weekly_expense > 100:
            weekly_reimbursement = 100
            
        return weekly_reimbursement
    
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Hourly Employee are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Hourly Rate: " + str(self.__hourly_rate)
        return childData

In [8]:
#do a quick test on the Hourly Employee class before moving forward (5 points)
#don't change this code
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [9]:
#define your own Consultant class here
#Consultant class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,project type
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

class Consultant(Employee):

    def __init__(self, nm, addr, veh, hw, pt):
        super().__init__(nm, addr, veh)
        self.__hours_wrkd = hw
        self.__project_type = pt
        
    def get_hours_worked(self):
        return self.__hours_wrkd
    
    def get_project_type(self):
        return self.__project_type
    
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
        
    def set_project_type(self, pt):
        self.__project_type = pt
        
    def compute_compensation(self):
        if self.__project_type == 1:
            hourly_rate = 55
        elif self.__project_type == 2:
            hourly_rate = 70
        else:
            hourly_rate = 85
        return self.__hours_wrkd * hourly_rate
    
    def compute_reimbursement(self, weekly_expense):
        if self.__project_type == 1:
            weekly_reimbursement = weekly_expense
        elif self.__project_type == 2:
            weekly_reimbursement = weekly_expense * 0.9
        elif self.__project_type == 3:
            weekly_reimbursement = weekly_expense * 0.8
            
        return weekly_reimbursement
    
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Consultant are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Project Type: " + str(self.__project_type)
        return childData

In [10]:
#do a quick test on the Consultant class before moving forward (5 points)
#don't change this code
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [11]:
#define your own Management class here
#Management class inherits from both Full Time Employee class and Consultant class
#the order of the six required positional arguments should be: name, address,vehicle object, salary, hours worked, project type
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

class Management(FullTimeEmployee,Consultant):

    def __init__(self, nm, addr, veh, sal, hw, pt):
        Employee.__init__(self, nm, addr, veh)
        FullTimeEmployee.__init__(self, nm, addr, veh, sal)
        Consultant.__init__(self, nm, addr, veh, hw, pt)
        
    def compute_compensation(self):
        tot_weekly_compensation = FullTimeEmployee.compute_compensation(self) + Consultant.compute_compensation(self)
        return tot_weekly_compensation
    
    def compute_reimbursement(self, annual_expense, weekly_expense):
        tot_reimbursement = FullTimeEmployee.compute_reimbursement(self, annual_expense) + Consultant.compute_reimbursement(self, weekly_expense)
        return tot_reimbursement
    
    def __str__(self):
        childData = "\nDetails of this Management are:" 
        childData += "\nEmployee Name: " + (self.get_emp_name())
        childData += "; Employee Address: " + (self.get_emp_addr())
        childData += "\n" + str(self.get_vehicle())
        childData += "\nSalary: " + '{0:0.2f}'.format(self.get_salary())
        childData += "; Hours Worked: " + str(self.get_hours_worked())
        childData += "; Project Type: " + str(self.get_project_type())
        
        return childData

In [12]:
#do a quick test on the Management class before moving forward (5 points)
#don't change this code
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 120000.00; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2497.12.
Jane has a weekly reimbursement of $393.85.

In [13]:
#complete this get_emp_input() function to prepare for the main menu application
#this function is used to ask for basic employee information and then return them: name and address
#this function doesn't take arguement(s)
#no need to handle exceptions here
def get_emp_input():
    emp_name = input("Enter the employee's name: ")
    emp_address = input("Enter the employee's address: ")
    return emp_name, emp_address

In [14]:
#do a quick test on the get_emp_input() function before moving forward
#don't change this code and please use the sample input
#sample input: Bob; 350 E Campbell Road, Richardson, Texas, 75080
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter the employee's name: Bob
Enter the employee's address: 350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [15]:
#complete this get_vehicle_input() function to prepare for the main menu application
#this function is used to ask for vehicle information and then return them: make,model,year,mileage
#this function doesn't take arguement(s)
#no need to handle exceptions of make input and model input
#handle exceptions to make sure year is a 4-digit positive number between 1900 and 2023
#handle exceptions to make sure mileage is a positive number
def get_vehicle_input():
    veh_make = input('Enter the vehicle make: ')
    veh_model = input('Enter the vehicle model: ')
    veh_year = input('Enter the year of manufacture (yyyy): ')
    
    while(int(veh_year) < 1900 or int(veh_year) > 2023):
        print("\nPlease enter an integer value for year in the format of yyyy between 1900 and 2023.")
        veh_year = input('Enter the year of manufacture (yyyy): ')
    
    veh_mileage = input('Enter the mileage: ')
    
    while int(veh_mileage) <= 0:
        print('\nPlease enter a positive number value for mileage.')
        veh_mileage = input('Enter the mileage: ')
    
    return (veh_make, veh_model, int(veh_year), int(veh_mileage))

In [16]:
#do a quick test on the get_vehicle_input() function before moving forward (5 points)
#don't change this code and please use the sample input
#sample input:Ford; Ranger; 2025 (when asked to enter again enter 2015); 80000
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the year of manufacture (yyyy): 2025

Please enter an integer value for year in the format of yyyy between 1900 and 2023.
Enter the year of manufacture (yyyy): 2015
Enter the mileage: 80000
The vehicle entered is a Ford Ranger made in 2015 with 80000 mileage curently.

In [17]:
#complete this get_full_time_input() function to prepare for the main menu application
#this function is used to ask for specific information of full time employees and then return it: annual salary
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_full_time_input():
    emp_salary = input('Enter the annual salary: ')
    return float(emp_salary)

In [18]:
### do a quick test on the get_full_time_input() function before moving forward
#don't change this code and please use the sample input
#sample input:80000
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the annual salary: 80000
The annual salary entered is 80000.00

In [19]:
#complete this get_hourly_input() function to prepare for the main menu application
#this function is used to ask for specific information of hourly employees and then return them: hours worked, hourly rate
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_hourly_input():
    hours_worked = input("Enter the hours worked: ")
    hourly_rate = input("Enter the hourly rate: ")
    return int(hours_worked), int(hourly_rate)

In [20]:
#do a quick test on the get_hourly_input() function before moving forward
#don't change this code and please use the sample input
#sample input: 30; 20
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the hours worked: 30
Enter the hourly rate: 20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [21]:
#complete this get_consultant_input() function to prepare for the main menu application
#this function is used to ask for specific information of consultants and then return them: hours worked, project type
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_consultant_input():
    hours_worked = input("Enter the hours worked: ")
    project_type = input("Project Type? (Enter a number between 1 and 3): ")
    return int(hours_worked), int(project_type)

In [22]:
#do a quick test on the get_consultant_input() function before moving forward
#don't change this code and please use the sample input
#sample input: 40; 2

hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the hours worked: 40
Project Type? (Enter a number between 1 and 3): 2
This consultant works 40 hours per week for type 2 project.

In [23]:
#complete this get_management_input() function to prepare for the main menu application
#this function is used to ask for specific information of managements and then return them: annual salary, hours worked, project type
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_management_input():
    annual_salary = input("Enter the annual salary: ")
    hours_worked = input("Enter the hours worked: ")
    project_type = input("Project Type? (Enter a number between 1 and 3): ")
    return float(annual_salary), int(hours_worked), int(project_type)

In [24]:
#do a quick test on the get_management_input() function before moving forward
#don't change this code and please use the sample input
#sample input: 100000; 8; 3
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary: 100000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [25]:
#complete this read_file_data() function to prepare for the main menu application
#this function is used to read information from an existing databse/binary file, which is empdata.dat in the final exam
#this function doesn't take argument(s)
#this function returns a list containing all employee objects stored in the database; each employ object is an element in the list; the list will also be used and updated later
#need to handle exceptions if file doesn't exist
import pickle
def read_file_data():
    employee_list = []
    try:
        with open('empdata.dat', 'rb') as empdata_file:
            try:
                while(True):
                    employee_list.append(pickle.load(empdata_file))
            except EOFError:
                pass
    except IOError:
        print("This file doesn't exist, please enter a valid file name.")
    return employee_list

In [26]:
#do a quick test on the read_file_data() function before moving forward (5 points)
#don't change this code
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database:
Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [27]:
#complete option 1 related code here
#the idea is to walk through users to input required information
#the first and foremost step is to ask for emloyee type
#this function doesn't take arguement(s)
#this function prints the entered object and also returns the entered object
#some parts are provided so you don't need to change them (but you still can if you want to)

def run_option1():
    #ask for employee type
    #exceptions need to be handled here to accept valid input 
    
    ##################
    while True:
        try:
            sel =  int(input("Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : "))
            if sel not in [1,2,3,4]:
                raise ValueError
                
            elif sel == str:
                raise ValueError
            
            else:
                break
                
        except ValueError:
            print("Please select an option from 1, 2, 3, and 4.")
            
    ##################
      
    #call the previous get_emp_input() to ask for employee information and store the values      
    name, address = get_emp_input()
    
    #call the previous get_vehicle_input() to ask for vehicle information and store the values
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    #create an object of Vehicle class using the prervious information
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)
    
    #depending on previous input, call the prervious functions to ask for corresponding information
    #then use all the required information to create an object of a certain class 
    #type 1:annual salary
    #type 2:hours worked,hourly rate
    #type 3:hours worked, project type
    #type 4:annual salary, hours worked, project type
    if sel == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle,sal)
    elif sel == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
    elif sel == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
    elif sel ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
    
    print(an_emp)
    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")     
    return an_emp

In [28]:
#do a quick test on the run_option1() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: 5 (then zzz then 4); David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3;2018;5000;110000;5;2
run_option1()

Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : 5
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : zzz
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : 4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy): 2018
Enter the mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [29]:
#complete option 2 related code here
#the function is to print centain number of employees as required by users
#first choice:print all employees; second choice: print first 5 employees when there are at least 5 employees (print all if fewer than 5)
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#needs to handle exceptions when taking user seletions
def run_option2(my_lst):
    
    while True:
        try:
            sel = int(input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?"))
            if sel == 1 or sel == 2:
                break
            else:
                raise ValueError
                
        except ValueError:
            print("Please select 1 or 2")
            
    if sel == 1:
        print("==========================================================================")
        print("Below is the information of all the employees stored in the database.")
        print("==========================================================================")
        for i in range(0, len(my_lst)):
            print(my_lst[i])
            
    else:
        if len(my_lst) >= 5:
            print("==========================================================================")
            print("Below is the information of the first 5 employees stored in the database.")
            print("==========================================================================")
            for j in range(0,5):
                print(my_lst[j])
                
        else:
            print("==========================================================================")
            print("Below is the information of all the employees stored in the database.")
            print("==========================================================================")
            for k in range(0,len(my_lst)):
                print(my_lst[k])

In [30]:
#do a quick test on run_option2() function before moving forward (5 points)
#don't change this code and please use the sample input
#sample input: 3 (then zzz then 2)
run_option2(emp_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?3
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?zzz
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?2
==========================================================================
Below is the information of the first 5 employees stored in the database.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [31]:
#complete option 3 related code here
#the function is used to print compensations of all Employees
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    
    for i in range(0, len(my_lst)):
        print("{0}'s weekly compensation is ${1:0.2f}".format(my_lst[i].get_emp_name(), my_lst[i].compute_compensation()))

In [32]:
#do a quick test on run_option3() function before moving forward (5 points)
#don't change this code and please use the sample input
run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $601.92
Bob's weekly compensation is $1131.73
Evan's weekly compensation is $1647.12
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00

In [33]:
#complete option 4 related code here
#the function is used to search for an employee by name and the searching is NOT case sensitive
#if there are some matching cases, print the information of all matched employees
#if no matchng cases, print "There is no employee matching the name you entered."
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function also returns a list of objects of the matched employees
#no need to handle exceptions
def run_option4(my_lst):
    
    emp_lst = []
    x = 0
    emp_name = input("\nPlease enter the name of the employee you want to search:")
    for i in range(0, len(my_lst)):
        if(my_lst[i].get_emp_name() == emp_name.lower() or my_lst[i].get_emp_name() == emp_name.upper() or my_lst[i].get_emp_name() == emp_name.capitalize()):
            emp_lst.append(my_lst[i])
            x += 1
    if x == 0:
        print("There is no employee matching the name you entered.")
    else:
        print("==========================================================================")
        print("Below is the information of all employees that match the name you entered.")
        print("==========================================================================")
        for i in range(0, len(emp_lst)):
            print(emp_lst[i])
    return emp_lst

In [34]:
#do a quick test on run_option4() function before moving forward (5 points)
#don't change this code and please use the example input (all upper cases)
#example input: TOM
#part 1
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Please enter the name of the employee you want to search:TOM
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [35]:
#do a quick test on run_option4() function before moving forward 
#don't change this code and please use the example input
#example input: Hongchang
#part 2
run_option4(emp_list)

Please enter the name of the employee you want to search:Hongchang
There is no employee matching the name you entered.

[]

In [36]:
#complete option 5 related code here
#the function is used to show some basic statistics. They are: 
#(1) the number of employees stored in the database
#(2) the highest weekly compensation
#(3) the mean weekly compensation
#(4) the number of employees who have a vehicle with over 100,000 mileage
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions

def run_option5(my_lst):
    
    comp_lst = []
    mil_lst = []
    print("\n========================================================")
    print("Below is the statistics of all employees in this database.")
    print("========================================================")
    print("There are {} employees stored in this employee database.".format(len(my_lst)))
    for i in range(0, len(my_lst)):
        comp_lst.append(my_lst[i].compute_compensation())
    print("The highist weekly compensation is ${0:0.2f}.".format(max(comp_lst)))
    print("The mean weekly compensation is: ${0:0.2f}.".format(sum(comp_lst)/len(comp_lst)))
    for j in range(0, len(my_lst)):
        if my_lst[j].get_vehicle().get_mileage() > 100000:
            mil_lst.append(my_lst[j])
    print("The number of employees who have a vehicle with over 100,000 mileage is {}.".format(len(mil_lst)))

In [37]:
#do a quick test on run_option5() function before moving forward (5 points)
#don't change this code 
run_option5(emp_list)

========================================================
Below is the statistics of all employees in this database.
========================================================
There are 9 employees stored in this employee database.
The highist weekly compensation is $3500.00.
The mean weekly compensation is: $1537.86.
The number of employees who have a vehicle with over 100,000 mileage is 2.

In [38]:
#complete option 6 related code here
#the function is used to compute weekly reimbursement (assuming the user has the requirerd information)
#the first step is to ask for the name of the employee (you can call run_option4() here)
#the second step is to select one employee from the matched employees
#the third step is to ask for required information 
#this function doesn't return anything
#no need to handle exceptions
def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("Which employee do you want to check (enter a number)?"))
    emp=matched_list[choice-1]
    
    if choice == 1:
        a = int(input("What is the annual expense?"))
        b = emp.compute_reimbursement(a)
        print("\n############################################################")
        print("This employee should have a weekly reimbursement of ${0:0.2f}.".format(b))
        
    elif choice == 2:
        c = int(input("What is the weekly expense?"))
        d = emp.compute_reimbursement(c)
        print("\n############################################################")
        print("This employee should have a weekly reimbursement of ${0:0.2f}.".format(d))
        
    elif choice == 3:
        e = int(input("What is the weekly expense?"))
        f = emp.compute_reimbursement(e)
        print("\n############################################################")
        print("This employee should have a weekly reimbursement of ${0:0.2f}.".format(f))
        
    else:
        g = int(input("What is the annual and weekly expense?"))
        h = emp.compute_reimbursement(g)
        print("\n############################################################")
        print("This employee should have a weekly reimbursement of ${0:0.2f}.".format(h))

In [39]:
#do a quick test on run_option6() function before moving forward (5 points)
#don't change this code and please use the example input (all lower cases)
#example input: bob;1;8000
#part 1

run_option6(emp_list)

Please enter the name of the employee you want to search:bob
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00
Which employee do you want to check (enter a number)?1
What is the annual expense?8000

############################################################
This employee should have a weekly reimbursement of $153.85.

In [40]:
#do a quick test on run_option6() function before moving forward 
#don't change this code and please use the sample input (all lower cases)
#sample input: james;1;130
#part 2

run_option6(emp_list)

Please enter the name of the employee you want to search:james
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Which employee do you want to check (enter a number)?1
What is the annual expense?130

############################################################
This employee should have a weekly reimbursement of $100.00.

In [41]:
#complete option 7 related code here
#the function is used to store changes into a new file/database (i.e. empdata_updated.dat) and exit the program
#the first step is to double check with the user if he/she does want to exit (not case sensitive)
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions

import sys
def run_option7(my_lst):
    print("You choose to exit the program: ")
    choice = input("Are you sure (Y/N)? ").lower()
    
    if choice == "n":
        print("\n\n=================================")
        print("Going back to the selection menu.")
        print("=================================")
    elif choice == "y":
        print("=================================")
        print("Program successfully being closed")
        print("=================================")
        sys.exit()
    else:
        print("\n\nYour input doesn't match any valid option and has been considered as 'N'.")
        print("Going back to the selection menu.")

In [42]:
#do a quick test on run_option7() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: b
#part 1
run_option7(emp_list)

You choose to exit the program:
Are you sure (Y/N)? b


Your input doesn't match any valid option and has been considered as 'N'.
Going back to the selection menu.

In [43]:
#do a quick test on run_option7() function before moving forward 
#don't change this code and please use the example input
#example input: n
#part 2
run_option7(emp_list)

You choose to exit the program:
Are you sure (Y/N)? n


=================================
Going back to the selection menu.
=================================

In [44]:
#do a quick test on run_option7() function before moving forward 
#don't change this code and please use the example input
#example input: y
#part 3
run_option7(emp_list)

You choose to exit the program:
Are you sure (Y/N)? y
=================================
Program successfully being closed
=================================

SystemExit:

/Users/shubhratagupta/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [53]:
#complete the main application
#the application menu provides 7 options
#when user selects a valid option (except for 7), execute that option and come back to the menu again
#need to handle exceptions when taking user's choices
#this function doesn't take any arguments
#it will work on the employ object list which is read from file empdata.dat
def run_menu_options():
    #read employee objects in to a list
    emp_list = read_file_data()
    
    #display 7 options and ask users to select from them and execute the selection
    sel = 1
    while sel <= 7 and sel >= 1:
        while True:
            print("\n==== Menu ====")
            print("1. To add an employee")
            print("2. To print the name and address of employees")
            print("3. To print the employee name and compensation of all employees")
            print("4. To search for employees by name")
            print("5. To check the basic statistics of employees")
            print("6. To calculate the reimbursement of one employee")
            print("7. To exit program")
            
            #take selection
        
            ##################
            try:
                choice = input("")
                print("Your selection is: {0}".format(choice))
                sel = int(choice)
                if sel>0 and sel<8:
                    break
                else:
                    raise ValueError
                    
            except ValueError:
                print("\n==========================================")
                print("You must enter an integer between 1 and 7!")
                print("==========================================")
                
            ##################
        
            #execute selection        
          
        if sel == 1:
            emp_list.append(run_option1())
        elif sel == 2:
            run_option2(emp_list)
        elif sel == 3:
            run_option3(emp_list)
        elif sel == 4:
            run_option4(emp_list)
        elif sel == 5:
            run_option5(emp_list)
        elif sel == 6:
            run_option6(emp_list)
        elif sel == 7:
            run_option7(emp_list)
        else:
            print("Invalid choice!")

In [54]:
#do a quick test run_menu_options() function before moving forward (5 points)
#don't change this code and please use the example input
#example inputs in this order: 0;8;zzz;7;n;7;y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
0
Your selection is: 0

==========================================
You must enter an integer between 1 and 7!
==========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
8
Your selection is: 8

==========================================
You must enter an integer between 1 and 7!
==========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
zzz
Your selection is: zzz

==========================================
You must enter an integer between 1 and 7!
==========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
7
Your selection is: 7
You choose to exit the program:
Are you sure (Y/N)? n


=================================
Going back to the selection menu.
=================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
7
Your selection is: 7
You choose to exit the program:
Are you sure (Y/N)? y
=================================
Program successfully being closed
=================================

SystemExit:

In [55]:
#here comes the main test, which is splitted into several steps (20 points in total)

#step 1: choose option 1 three times and enter the following three employees (5 points)
#type 4 employee: David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3; 2018;5000;110000;5;2
#type 4 employee: Grace; 105 E Campbell Road, Richardson, Texas, 75080; Porsche; Cayenne; 2019;3000;180000;8;1
#type 4 employee: Zoey; 107 E Campbell Road, Richardson, Texas, 75080; Audi; A3; 2022;3000;90000;10;3

#step 2: choose option 2
#then choose 1

#step 3:choose option 3 (5 points)

#step 4:choose option 4 
#then type in: grace (all lower cases)

#step 5:choose option 5 (5 points)

#step 6:choose option 6 (5 points)
#then type in: ZOEY (all upper cases); then 1; then 120

#step 7:choose option 7
#then type in: y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
1
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : 4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy): 2018
Enter the mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
1
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : 4
Enter the employee's name: Grace
Enter the employee's address: 105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the year of manufacture (yyyy): 2019
Enter the mileage: 3000
Enter the annual salary: 180000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 1

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
1
Your selection is: 1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) : 4
Enter the employee's name: Zoey
Enter the employee's address: 107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the year of manufacture (yyyy): 2022
Enter the mileage: 3000
Enter the annual salary: 90000
Enter the hours worked: 10
Project Type? (Enter a number between 1 and 3): 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
2
Your selection is: 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?1
==========================================================================
Below is the information of all the employees stored in the database.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
3
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $601.92
Bob's weekly compensation is $1131.73
Evan's weekly compensation is $1647.12
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00
David's weekly compensation is $1868.27
Grace's weekly compensation is $2860.19
Zoey's weekly compensation is $2110.58

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
4
Your selection is: 4

Please enter the name of the employee you want to search:grace
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program

5
Your selection is: 5

========================================================
Below is the statistics of all employees in this database.
========================================================
There are 12 employees stored in this employee database.
The highist weekly compensation is $3500.00.
The mean weekly compensation is: $1723.32.
The number of employees who have a vehicle with over 100,000 mileage is 2.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
6
Your selection is: 6

Please enter the name of the employee you want to search:ZOEY
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3
Which employee do you want to check (enter a number)?1
What is the annual expense?120

############################################################
This employee should have a weekly reimbursement of $96.00.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
7
Your selection is: 7
You choose to exit the program:
Are you sure (Y/N)? y
=================================
Program successfully being closed
=================================

SystemExit: